<%- model_class = Minority -%>

<%= render 'base' %>

<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.minorities.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:minority_slug) %></th>
          <th><%= model_class.human_attribute_name(:is_free) %></th>
          <th><%= model_class.human_attribute_name(:menu_type) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </tr>
      </thead>
      <tbody>
      <% if !@minorities.blank? %>
      <% @minorities.each do |p| %>
        <tr>
          <td><%= check_box_tag "minority_ids[]", p.id, false, id: "minority_#{p.id}" %></td>
          <td><%= link_to p.name, get_delete_polymorphic_path(@parent, p.id) %></td>
          <td><%= Keyword.get_slug(p.minority_slugs) %></td>
          <td><%= p.is_free %></td>
          <td><%= p.menu_type %></td>
          <td class="action">
            <%= link_to raw("<i class=\"icon-edit\"></i>"), get_edit_polymorphic_path(@parent, p.id) %>
            <%= link_to raw("<i class=\"icon-trash\"></i>"), get_delete_polymorphic_path(@parent, p.id), method: :delete, data: {confirm: t('links.commons.confirm')} %>
          </td>
        </tr>
      <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @minorities %></div>
  <%= paginate @minorities, :theme => "admin" %>
</div>