<%= simple_form_for [:admin, @model], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :slug %>
  <%= f.association :province, :collection => Province.all, :prompt => t("helpers.links.select", :model_name => Province.model_name.human) %>
  <%= f.fields_for :map_cover, @model.map_cover ||= @model.build_map_cover do |c| %>
    <%= c.input :file, :as => :file %>
    <% if @model.map_cover && @model.map_cover.file.present? %>
      <div class="control-group image">
        <div class="controls">
          <%= image_tag @model.map_cover.file %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= f.fields_for :map_plat, @model.map_plat ||= @model.build_map_plat do |p| %>
    <%= p.input :file, :as => :file %>
    <% if @model.map_plat && @model.map_plat.file.present? %>
      <div class="control-group image">
        <div class="controls">
          <%= image_tag @model.map_plat.file %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= f.fields_for :map_weather_bg_image, @model.map_weather_bg_image ||= @model.build_map_weather_bg_image do |w| %>
    <%= w.input :file, :as => :file %>
    <% if @model.map_weather_bg_image && @model.map_weather_bg_image.file.present? %>
      <div class="control-group image">
        <div class="controls">
          <%= image_tag @model.map_weather_bg_image.file %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= f.fields_for :map_description, @model.map_description ||= @model.build_map_description do |d|  %>  
    <%= d.input :body, :as => :text, :input_html => { :class => "span-full" } %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>