<%= simple_form_for  @image, 
                     html: { class: 'form-horizontal' },
                     url: @image.new_record? ? 
                         admin_map_images_path(
                            params[:map_id]) :
                         admin_map_image_path(
                            params[:map_id],
                            @image)  do |i| %>
  <%= i.input :file,  as: :file %>
    <% if @image.file && @image.file.present? %>
      <div class="control-group image">
        <div class="controls">
          <%= image_tag @image.file %>
        </div>
      </div>
    <% end %>
  <%= i.input :order %>
  <div class="form-actions">
    <%= i.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>