<%- model_class = Map -%>
<%= render "base" %>
<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.maps.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:province) %></th>
          <th><%= model_class.human_attribute_name(:slug) %></th>
          <th><%= model_class.human_attribute_name(:version) %></th>
          <th><%= model_class.human_attribute_name(:scenics_count) %></th>
          <th><%= model_class.human_attribute_name(:places_count) %></th>
          <th><%= model_class.human_attribute_name(:recommends_count) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </tr>
      </thead>
      </tbody>
        <% if !@maps.blank? %>
        <% @maps.each do |map| %>
          <tr>
            <td><%= check_box_tag "map_ids[]", map.id, false, :id => "map_#{map.id}" %></td>
            <td><%= map.name %></td>
            <td><%= map.province.name %></td>
            <td><%= map.slug %></td>
            <td><%= map.version %></td>
            <td><%= map.scenics_count %></td>
            <td><%= map.places_count %></td>
            <td><%= map.recommends_count %></td>
            <td class="action">
              <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_map_path(map), 
                          :title => t('links.maps.edit') %>
              <%= link_to raw("<i class=\"icon-trash\"></i>"),
                          admin_map_path(map),
                          :method => :delete,
                          :data => { :confirm => t('links.commons.confirm') } %>
            </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @maps %></div>
  <%= paginate @maps, :theme => "admin" %>
</div>
