<%- model_class = Fight -%>
<%= render 'base' %>
<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.fights.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th>
            <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
          </th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:fight_slug) %></th>
          <th><%= model_class.human_attribute_name(:county) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </thead>
        <tbody>
        <% if !@fights.blank? %>
        <% @fights.each do |r| %>
          <tr>
            <td><%= check_box_tag "fight_ids[]", r.id, false, id: "fight_#{r.id}" %></td>
            <td>
              <%= link_to r.name, admin_fight_minorities_path(r.id) %>
            </td>
            <td><%= r.fight_slug.slug if r.fight_slug.present? %></td>
            <td><%= r.county.name %></td>
            <td class="action">
              <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_fight_path(r) %>
              <%= link_to raw("<i class=\"icon-trash\"></i>"), admin_fight_path(r), method: :delete, data: { confirm: t('links.commons.confirm')} %>
            </td>
          </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
  </div>
</div>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @fights %></div>
  <%= paginate @fights, :theme => "admin" %>
</div>