<%- model_class = Account -%>
<%= render "base" %>
<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.accounts.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
          <th><%= model_class.human_attribute_name(:email) %></th>
          <th><%= model_class.human_attribute_name(:nickname) %></th>
          <th><%= model_class.human_attribute_name(:map_serial_number) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </tr>
      </thead>
      </tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= check_box_tag "account_ids[]", account.id, false, :id => "account_#{account.id}" %></td>
            <td><%= account.email %></td>
            <td><%= account.nickname %></td>
            <td><%= account.map_serial_number.code if account.map_serial_number.present? %></td>
            <td><%= l account.created_at.to_date, :format => :long %></td>
            <td class="action">
              <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_account_path(account), 
                          :title => t('links.accounts.edit') %>
              <%= link_to raw("<i class=\"icon-trash\"></i>"),
                          admin_account_path(account),
                          :method => :delete,
                          :data => { :confirm => t('links.commons.confirm') } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @accounts %></div>
  <%= paginate @accounts, :theme => "admin" %>
</div>