<%= simple_form_for [:admin, @model], html: { class: 'form-horizontal' } do |r| %>
  <%= r.input :name %>
 <%= r.fields_for :recommend_slug, @model.recommend_slug ||= @model.build_recommend_slug do |s|  %>  
    <%= s.input :slug, :input_html => { :class => "span-full" } %>
  <% end %>
  <%= r.input :is_free %>
  <%= r.input :menu_type %>
  <%= r.association :map, collection: Map.all, 
                          prompt: t("helpers.links.select", 
                          :model_name => Map.model_name.human) %>
  <%= r.input :category_cd do %>
      <%= r.select :category_cd, Recommend.categories_for_select(:value) %>
    <% end -%>
  <%= r.fields_for :recommend_cover, @model.recommend_cover ||= @model.build_recommend_cover do |c| %>
    <%= c.input :file, as: :file %>
    <% if @model.recommend_cover && @model.recommend_cover.file.present? %>
      <div class="control-group image">
        <div class="controls">
          <%= image_tag @model.recommend_cover.file %>
        </div>
      </div>
    <% end %>
  <% end %>

	<%= r.fields_for :recommend_slug_icon, @model.recommend_slug_icon ||= @model.build_recommend_slug_icon do |ricon| %>
  	<%= ricon.input :file, as: :file %>
    <% if @model.recommend_slug_icon && @model.recommend_slug_icon.file.present? %>
      <div class="control-group image">
        <div class="controls">
          <%= image_tag @model.recommend_slug_icon.file %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= r.fields_for :recommend_video, @model.recommend_video ||= @model.build_recommend_video do |v| %>
    <%= v.input :file, as: :file %>
    <%= v.input :cover, as: :file %>
    <%= v.input :duration %>
    <% if @model.recommend_video && @model.recommend_video.file.present? %>
      <div class="control-group">
        <div class="controls">
          <%= video_tag(@model.recommend_video.file, :controls => true, :autobuffer => true, :width => 400, :height => 240, :poster => @model.recommend_video.cover ) %>
        </div>
      </div>
    <%elsif @model.recommend_video && @model.recommend_video.cover.present? %>    
      <div class="control-group">
        <div class="controls">
          <%= image_tag(@model.recommend_video.cover) %>
        </div>
      </div>
    <% end %>
  <% end %>  
  <div class="form-actions">
    <%= r.button :submit, :class => 'btn-primary' %>
  </div>

<% end %>