<%- model_class = Recommend -%>
<%= render 'base' %>
<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.recommends.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th>
            <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
          </th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:slug) %></th>
          <th><%= model_class.human_attribute_name(:recommend_records_count) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </thead>
        <% @recommends.each do |r| %>
        <tbody>
          <tr>
            <td><%= check_box_tag "province_ids[]", r.id, false, id: "province_#{r.id}" %></td>
            <td><%= r.name %></td>
            <td><%= r.slug %></td>
            <td>
              <%= link_to r.recommend_records_count, admin_recommend_records_path(r) %>
            </td>
            <td class="action">
              <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_recommend_path(r) %>
              <%= link_to raw("<i class=\"icon-trash\"></i>"), admin_recommend_path(r), method: :delete, data: { confirm: t('links.commons.confirm')} %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>