<%- model_class = Place -%>
<%= render 'base' %>
<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.places.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:slug) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </tr>
      </thead>
      <tbody>
      <% @places.each do |p| %>
        <tr>
          <td><%= check_box_tag "places_ids[]", p.id, false, id: "place_#{p.id}" %></td>
          <td><%= p.name %></td>
          <td><%= p.slug %></td>
          <td>
            <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_place_path(p), 
                                                            title: t('links.places.edit') %>
            <%= link_to raw("<i class=\"icon-trash\"></i>"), admin_places_path(p), method: :delete, data: {confirm: t('links.commons.confirm')} %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
