<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : Setting.app_name %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "admin/application", :media => "all" %>
  </head>

  <body id="<%= "#{controller_name}-#{action_name}" %>">
    <% if %w(sessions).include?(controller_name) %>
       <%= render "layouts/admin_login" %>
       <div class="navbar navbar-fixed-top">
      </div>
    <% else %>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#"><%= Setting.app_name %></a>
            <div class="container nav-collapse">
              <ul class="nav">
                <li<%= raw ' class="active"' if %w(home).include?(controller_name) %>>
                  <%= link_to t("navs.home.index"), admin_root_path %>
                </li>
                <li<%= raw ' class="active"' if %w(provinces) .include?(controller_name) %>>
                  <%= link_to t("navs.provinces.index"), admin_provinces_path %>
                </li>
                <li class="dropdown <%= raw 'active' if %w(maps scenics places recommends info_lists).include?(controller_name) %>">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <%= t("navs.maps.index")%><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to t("navs.maps.index"), admin_maps_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to t("navs.scenics.index"), admin_scenics_path %></li>
                      <li><%= link_to t("navs.places.index"), admin_places_path %></li>
                      <li><%= link_to t("navs.recommends.index"), admin_recommends_path %></li>
                      <li><%= link_to t("navs.info_lists.index"), admin_info_lists_path %></li>
                      <li><%= link_to t("navs.panel_videos.index"), admin_panel_videos_path %></li>
                    </ul>
                  </li>
                <li<%= raw ' class="active"' if %w(shares).include?(controller_name) %>>
                  <%= link_to t("navs.shares.index"), admin_shares_path %>
                </li>
                <li class="dropdown <%= raw 'active' if %w(cities counties merchants).include?(controller_name) %>">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t("navs.merchants.index")%><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li> <%= link_to t("navs.merchants.index"), admin_merchants_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to t("navs.cities.index"), admin_cities_path %></li>
                    <li><%= link_to t("navs.counties.index"), admin_counties_path %></li>
                  </ul>
                </li>
                <li class="dropdown <%= raw 'active' if %w(accounts feedbacks).include?(controller_name) %>">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t("navs.accounts.index")%><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li> <%= link_to t("navs.accounts.index"), admin_accounts_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to t("navs.feedbacks.index"), admin_feedbacks_path %></li>
                  </ul>
                </li>
                <li<%= raw ' class="active"' if %w(logs).include?(controller_name) %>>
                  <%= link_to t("navs.logs.index"), admin_logs_path %>
                </li>
                <li<%= raw ' class="active"' if %w(api).include?(controller_name) %>>
                  <%= link_to t("navs.apis.index"), v1_admin_api_index_path %>
                </li>
                <li<%= raw ' class="active"' if %w(serialnumbers).include?(controller_name) %>>
                  <%= link_to t("navs.serialnumber.index"), admin_serialnumbers_path %>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=t("navs.settings.index")%><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to t("navs.declarations.show"), admin_declaration_path %></li>
                    <li><%= link_to t("navs.versions.index"), admin_versions_path %></li>
                    <li><%= link_to t("navs.surround_city.index"), admin_surround_cities_path %></li>
                    <li><%= link_to t("navs.lijiang_mailbox.index"), admin_lijiang_mailboxes_path %></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user-md"></i><%= current_user.email %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li><%= link_to(t("helpers.links.logout"), destroy_user_session_path, :method => :delete) %></li>
                  </ul>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
          <div class="row">
            <div class="span12"><%= render_breadcrumbs %></div>
            <div class="span12"><%= bootstrap_flash %></div>
            <%= render "layouts/sidebars/#{content_for?(:sidebar) ? 'two_column' : 'full_column' }" %>
          </div>

        <footer>
          <p><%= Setting.company %> &copy; Company 2013</p>
        </footer>
      </div>

    <% end %>

    <%= javascript_include_tag "admin/application" %>
    <%= yield :scripts %>
  </body>
</html>