<%= render "base" %>

<div class="page-header">
  <h1><%= t("admin.apis.v1") %>API</h1>
</div>

<div class="api-description">
  <blockquote>
    <p class="text-info">此API参考文档专为旅图项目服务（服务器端名TripMap），当前版本号为0.1.0，该API参考文档是稳定的。</p>
    <small>最后更新时间 2013-05-17 16:15</small>
  </blockquote>
</div>

<div class="api-list">
  <h4>API列表</h4>
  <ol>
    <li><a href="#maps">获取所有地图简略信息</a></li>
    <li><a href="#maps_v1x">获取所有地图简略信息(v1x)</a></li>
    <li><a href="#maps_active">获取单个地图详细信息</a></li>
    <li><a href="#account_register">用户注册</a></li>
    <li><a href="#account_loggin">用户登陆(授权设备)</a></li>
    <li><a href="#account_validate">用户绑定序列号</a></li>
    <li><a href="#account_nickname">用户获取昵称</a></li>
    <li><a href="#account_update">用户修改昵称</a></li>
    <li><a href="#activate_validate">通过设备ID查看地图使用权限</a></li>
    <li><a href="#share_current">获取当前分享</a></li>
    <li><a href="#share_arround">获取周边分享</a></li>
    <li><a href="#share_upload">上传我的分享</a></li>
    <li><a href="#weathers">获取当前地图所在城市天气</a></li>
    <li><a href="#logs">上传当前地图使用日志</a></li>
    <li><a href="#versions">检测地图数据包是否更新</a></li>
    <li><a href="#declaration">获取免责声明</a></li>
    <li><a href="#feedback">提交意见反馈</a></li>
    <li><a href="#version">检测是否有最新版本</a></li>
    <li><a href="#download">统计下载次数</a></li>
    <li><a href="#merchants">获取所有商家简略信息</a></li>
    <li><a href="#merchant">获取单个商家详细信息</a></li>
    <li><a href="#device">通过设备查看地图使用权限</a></li>
    <li><a href="#device_validate">设备绑定序列号</a></li>
    <li><a href="#lijiang_mailboxes">丽江市旅游局局长信箱</a></li>
    <li><a href="#unbind_device">取消手机注册</a></li>
    <li><a href="#offline_package_version">获取离线包的版本信息</a></li>
  </ol>
</div>

<div class="api-content">
	<% api_cnt = 0%>

	<div id="maps" class="api well">
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取所有的地图信息，结果为JSON数据格式。</small>
    <dl>
      <dt>URL</dt><dd><pre class="docs-example"><%= api_v1_maps_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt><dd>无<dd>
    </dl>
  </div>

  <div id="maps_v1x" class="api well">
    <% param_item_cnt = 0 %>

    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取所有的地图信息，结果为JSON数据格式。</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= api_v1x_maps_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
      	<table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>device_id</td><td>uuid字符串</td><td>必选参数</td><td>设备唯一号</td></tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>

  <div id="maps_active" class="api well">
    <% param_item_cnt = 0 %>

    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取单个地图详细信息，结果为JSON数据格式。</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= show_api_v1_maps_url(:format => :json)  %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>map_id</td><td>整数</td><td>必选参数</td><td>地图编号，以指定查找哪张地图的内容。</td></tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>

  <div id="account_register" class="api well">
    <% param_item_cnt = 0 %>

    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">用户注册</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= create_api_v1_accounts_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>POST<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
           <tr><td><%= param_item_cnt += 1 %></td><td>device_id</td><td>字符串</td><td>必选参数</td><td>用户设备ID</td></tr>
           <tr><td><%= param_item_cnt += 1 %></td><td>email</td><td>字符串</td><td>必选参数</td><td>email(用户帐号)</td></tr>
           <tr><td><%= param_item_cnt += 1 %></td><td>password</td><td>字符串</td><td>必选参数</td><td>密码</td></tr>
           <tr><td><%= param_item_cnt += 1 %></td><td>nickname</td><td>字符串</td><td>必选参数</td><td>昵称</td></tr>
           <tr><td><%= param_item_cnt += 1 %></td><td>serial</td><td>字符串</td><td>可选参数</td><td>序列号</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
     <p>结果：</p>
     <p>result: 0   =>   成功</p>
     <p>result: 1   =>   参数错误</p>
     <p>result: 2   =>   email已存在</p>
     <p>result: 3   =>   昵称已存在</p>
     <p>result: 4   =>   序列号错误</p>
     <p>result: 5   =>   序列号已使用</p>
     <p>result: 6   =>   未知错误</p>
     <p>登录页面URL地址：/accounts/new/device_id</p>
  </div>

  <div id="account_loggin" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">用户登陆(授权设备)</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= login_api_v1_accounts_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>POST<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>device_id</td><td>字符串</td><td>必选参数</td><td>用户设备ID</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>email</td><td>字符串</td><td>必选参数</td><td>email(用户帐号)</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>password</td><td>字符串</td><td>必选参数</td><td>密码</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
     <p>结果：</p>
     <p>result: 0, nickname: *   =>   成功 </p>
     <p>result: 1   =>   参数错误 </p>
     <p>result: 2   =>   email不存在或密码错误 </p>
     <p>result: 3   =>   该用户授权设备超过限制</p>
     <p>result: 4   =>   未知错误 </p>
  </div>

  <div id="account_validate" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">用户绑定序列号</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= validate_api_v1_accounts_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>POST<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>email</td><td>字符串</td><td>必选参数</td><td>email(用户帐号)</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>serial</td><td>字符串</td><td>必选参数</td><td>序列号</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
     <p>结果：</p>
     <p>result: 0   =>   成功 </p>
      <p>result: 1   =>   参数错误 </p>
      <p> result: 2   =>   email不存在 </p>
      <p> result: 3   =>   序列号错误 </p>
      <p> result: 4   =>   序列号已使用 </p>
      <p> result: 5   =>   您已激活该地图啦 </p>
      <p> result: 6   =>   未知错误 </p>
  </div>

	<div id="account_nickname" class="api well">
	  <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">用户获取昵称</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= show_api_v1_accounts_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>email</td><td>字符串</td><td>必选参数</td><td>email(用户帐号)</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
  </div>

  <div id="account_update" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">用户修改昵称</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= update_api_v1_accounts_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>POST<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>email</td><td>字符串</td><td>必选参数</td><td>email(用户帐号)</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>password</td><td>字符串</td><td>必选参数</td><td>密码</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>nickname</td><td>字符串</td><td>必选参数</td><td>昵称</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
    <p>结果：</p>
     <p>result: 0   =>   成功 </p>
     <p>result: 1   =>   参数错误 </p>
     <p>result: 2   =>   email不存在或密码错误 </p>
     <p>result: 3   =>   昵称已存在</p>
     <p>result: 4   =>   未知错误 </p>
  </div>

	<div id="activate_validate" class="api well">
	  <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">通过设备ID查看地图使用权限</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= validate_api_v1_maps_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
           <tr><td><%= param_item_cnt += 1 %></td><td>device_id</td><td>字符串</td><td>必选参数</td><td>用户设备ID</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
    <p>结果：</p>
    <p>maps: [map_ids] </p>
  </div>

	<div id="share_current" class="api well">
	  <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取当前分享，结果为JSON数据格式。</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= shares_current_api_v1_maps_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>map_id</td><td>整数</td><td>必选参数</td><td>地图编号</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>page_size</td><td>整数</td><td>必选参数</td><td>每一页的大小</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>page_index</td><td>整数</td><td>必选参数</td><td>起始页</td></tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>

  <div id="share_arround" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取周边分享，结果为JSON数据格式。</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= shares_nearby_api_v1_maps_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>map_id</td><td>整数</td><td>必选参数</td><td>地图编号</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>page_size</td><td>整数</td><td>必选参数</td><td>每一页的大小</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>page_index</td><td>整数</td><td>必选参数</td><td>起始页</td></tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>

  <div id="share_upload" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">上传我的分享，结果为JSON数据格式。</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= shares_create_api_v1_maps_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>POST<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>map_id</td><td>整数</td><td>必选参数</td><td>地图编号</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>title</td><td>字符串</td><td>必选参数</td><td>分享标题</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>email</td><td>字符串</td><td>可选参数</td><td>邮件（用户帐号）</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>map_id</td><td>字符串</td><td>必选参数</td><td>地图编号</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>image</td><td>文件</td><td>必选参数</td><td>拍的照片</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>text</td><td>字符串</td><td>必选参数</td><td>心情文字描述</td></tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>

  <div id="weathers" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取当前地图所在城市天气</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= api_v1_map_weathers_url(:map_id, :format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>map_id</td><td>整数</td><td>必选参数</td><td>地图编号</td></tr>
          </tbody>
        </table>
      <dd>
      <dt>例子</dt>
      <dd><%= api_v1_map_weathers_url(:map_id => 1, :format => :json) %><dd>
    </dl>
  </div>

  <div id="logs" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">上传当前地图使用日志</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= logs_api_v1_maps_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>POST<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>map_id</td><td>整数</td><td>必选参数</td><td>地图编号</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>device_id</td><td>整数</td><td>必选参数</td><td>设备串号</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>device_type</td><td>整数</td><td>必选参数</td><td>设备平台（Android、iOS、WindowsPhone）</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>slug</td><td>整数</td><td>必选参数</td><td>简码</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>message</td><td>整数</td><td>必选参数</td><td>日志状态</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>info</td><td>整数</td><td>必选参数</td><td>日志详细信息</td></tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>

  <div id="versions" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">检测地图数据包是否更新</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= version_api_v1_map_url(:map_id, :format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>map_id</td><td>整数</td><td>必选参数</td><td>地图编号</td></tr>
          </tbody>
        </table>
      <dd>
      <dt>例子</dt>
      <dd><%= version_api_v1_map_url(:id => 1, :format => :json) %><dd>
    </dl>
  </div>

	<div id="declaration" class="api well">
	  <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取免责声明</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= show_api_v1_declarations_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt><dd>无<dd>
    </dl>
  </div>

  <div id="feedback" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">提交意见反馈</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= create_api_v1_feedbacks_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>POST<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>email</td><td>字符串</td><td>必选参数</td><td>email(用户帐号)</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>feedback</td><td>字符串</td><td>必选参数</td><td>内容(限1000个字符以内)</td></tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>

	<div id="version" class="api well">
	  <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">检测是否有最新版本</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= check_api_v1_versions_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>platform</td><td>整数</td><td>必选参数</td><td>平台类型（0：iOS, 1: Android）</td></tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>

  <div id="download" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">统计下载次数</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= count_api_v1_downloads_url(:format => :text) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>type</td><td>整数</td><td>必选参数</td><td>类型（0：iOS, 1: Android）</td></tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>

  <div id="merchants" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取所有的商家信息，结果为JSON数据格式。</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= api_v1_merchants_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt><dd>无<dd>
    </dl>
  </div>

  <div id="merchant" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取单个商家详细信息</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= api_v1_merchant_url(:merchant_id, :format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>merchant_id</td><td>整数</td><td>必选参数</td><td>商家编号</td></tr>
          </tbody>
        </table>
      <dd>
      <dt>例子</dt>
      <dd><%= api_v1_merchant_url(:id => 1, :format => :json) %><dd>
    </dl>
  </div>

  <div id="device" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">通过设备查看地图使用权限</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= api_v1_devices_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th> <th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>device_id</td><td>字符串</td><td>必选参数</td><td>用户设备ID</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
     <p>结果：</p>
     <p>maps: [map_ids] </p>
  </div>

  <div id="device_validate" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">设备绑定序列号</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"><%= validate_api_v1_devices_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>POST<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th> <th>名字</th> <th>类型</th> <th>类别</th> <th>说明</th> </tr></thead>
          <tbody>
            <tr><td><%= param_item_cnt += 1 %></td><td>device_id</td><td>字符串</td><td>必选参数</td><td>用户设备ID</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>serial</td><td>字符串</td><td>必选参数</td><td>序列号</td></tr>
            <tr><td><%= param_item_cnt += 1 %></td><td>map_id</td><td>整数值</td><td>必选参数</td><td>地图ID号</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
    <p>结果：</p>
    <p>{ result: true, msg: "成功！" }</p>
    <p>{ result: false, msg: "参数错误,请核对！" }</p>
    <p>{ result: false, msg: "序列号错误,请核对！" }</p>
    <p>{ result: false, msg: "序列号使用次数超过限制！" }</p>
    <p>{ result: false, msg: "此地图已激活,无需重复激活！" }</p>
  </div>

  <div id="lijiang_mailboxes" class="api well">
    <% param_item_cnt = 0 %>

    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">丽江市旅游局局长信箱</small>
    <dl>
      <dt>URL</dt><dd><pre class="docs-example"><%= api_v1_lijiang_mailboxes_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>POST<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th><th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
          	<tr><td><%=param_item_cnt +=1 %></td><td>device_id    </td><td>字符串</td> <td>必填参数</td><td>手机设备号</td></tr>
            <tr><td><%=param_item_cnt +=1 %></td><td>service_score</td><td>整数值</td> <td>必填参数</td><td>服务设施评分</td></tr>
            <tr><td><%=param_item_cnt +=1 %></td><td>env_score    </td><td>整数值</td> <td>必填参数</td><td>环境及卫生评分</td></tr>
            <tr><td><%=param_item_cnt +=1 %></td><td>category     </td><td>整数值</td> <td>必填参数</td><td>分类</td></tr>
            <tr><td><%=param_item_cnt +=1 %></td><td>title        </td><td>字符串</td> <td>选填参数</td><td>回复标题</td></tr>
            <tr><td><%=param_item_cnt +=1 %></td><td>content      </td><td>字符串</td> <td>选填参数</td><td>回复内容</td></tr>
            <tr><td><%=param_item_cnt +=1 %></td><td>who          </td><td>字符串</td> <td>选填参数</td><td>回复作者</td></tr>
            <tr><td><%=param_item_cnt +=1 %></td><td>contact      </td><td>字符串</td> <td>选填参数</td><td>回复者联系方式</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
    <p><b>返回值：</b> 成功：{ result: true, msg: "成功！" }； 失败： { result: false, msg: "错误信息提示" }</p>
  </div>

  <div id="unbind_device" class="api well">
    <% param_item_cnt = 0 %>

    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">取消手机注册</small>
    <dl>
      <dt>URL</dt><dd><pre class="docs-example"><%= unbind_device_api_v1_devices_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead><tr><th>#</th><th>名字</th><th>类型</th><th>类别</th><th>说明</th></tr></thead>
          <tbody>
            <tr><td><%=param_item_cnt +=1 %></td><td>device_id    </td><td>字符串</td> <td>必填参数</td><td>手机设备号</td></tr>
          </tbody>
        </table>
        <dd>
    </dl>
    <p><b>返回值：</b> 成功：{ result: true, msg: "成功！" }； 失败： { result: false, msg: "错误信息提示" }</p>
  </div>

  <div id="offline_package_version" class="api well">
    <% param_item_cnt = 0 %>
    <h3 class="name">API<%= api_cnt += 1 %></h3>
    <small class="desc">获取离线包的版本信息</small>
    <dl>
      <dt>URL</dt><dd><pre class="docs-example"><%= pkg_versions_api_v1_offline_packages_url(:format => :json) %></pre></dd>
      <dt>HTTP请求方式</dt><dd>GET<dd><dt>支持格式</dt><dd>json<dd><dt>是否需要登录</dt><dd>否<dd><dt>请求参数</dt><dd>无<dd>      
    </dl>
    <p><b>返回值：</b> [{slug:xxx, version: 123456 }+]</p>
  </div>

</div>