<%= simple_form_for [:admin, @model] do |p| %>
  <%= p.input :name %>
  <%= p.fields_for :merchant_slug, @model.merchant_slug ||= @model.build_merchant_slug do |s|  %>  
    <%= s.input :slug, :input_html => { :class => "span-full" } %>
  <% end %>
  <%= p.input :title %>
  <%= p.input :tag %>
  <%= p.input :type_cd do %>
    <%= p.select :type_cd, Merchant.types_for_select(:value) %>
  <% end -%>
  <%= p.input :city, collection: City.all, input_html: {onchange: "getcity()"}, prompt: t("helpers.links.select", :model_name => City.model_name.human) %>
  <%= p.association :county, collection: (@city.present?? @city.counties : (@model.county_id.present?? [@model.county] : [])), prompt: t("helpers.links.select", :model_name => County.model_name.human) %>
  <%= p.input :phone, :input_html => { :class => "span3" } %>
  <%= p.input :address %>
  <%= p.input :shop_hour %>
  <%= p.input :expence %>
  <%= p.input :description, :as => :text%>
  <%= p.input :special, :as => :text%>

  <div class="form-actions">
    <%= p.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>

<%= content_for :scripts do -%>
  <script type="text/javascript">
    function getcity() 
    { 
      $("form").attr("action", $("form").attr("action") + "?type=true" );
      $("form").submit();
    }
  </script>
<% end -%>