<%= simple_form_for [:admin, @model] do |p| %>
  <%= p.input :name %>
  <%= p.input :slug %>
  <%= p.input :title %>
  <%= p.input :tag %>
  <%= p.input :type_cd do %>
    <%= p.select :type_cd, Merchant.types_for_select(:value) %>
  <% end -%>
  <%= p.input :city, collection: City.all, input_html: {onchange: "getcity()"}, prompt: t("helpers.links.select", :model_name => City.model_name.human) %>
  <%= p.association :county, collection: (@city.present?? @city.counties : (@model.county_id.present?? [@model.county] : [])), prompt: t("helpers.links.select", :model_name => County.model_name.human) %>
  <%= p.input :phone, :input_html => { :class => "span3" } %>
  <%= p.input :address %>
  <%= p.input :shop_hour %>
  <%= p.input :expence %>
  <%= p.input :privilege, :as => :text %>

  <%= p.fields_for :merchant_image, @model.merchant_image ||= @model.build_merchant_image do |pimg|  %>  
    <%= pimg.input :file, :as => :file %>
    <% if @model.merchant_image && @model.merchant_image.file.present? %>
      <div class="control-group image">
        <div class="controls">
          <%= image_tag @model.merchant_image.file, :size => "50x50" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= p.fields_for :merchant_horizontal_image, @model.merchant_horizontal_image ||= @model.build_merchant_horizontal_image do |pimg|  %>  
    <%= pimg.input :file, :as => :file %>
    <% if @model.merchant_horizontal_image && @model.merchant_horizontal_image.file.present? %>
      <div class="control-group image">
        <div class="controls">
          <%= image_tag @model.merchant_horizontal_image.file, :size => "50x50" %>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <%= p.fields_for :merchant_video, @model.merchant_video ||= @model.build_merchant_video do |v| %>
    <%= v.input :file, as: :file %>
    <%= v.input :cover, as: :file %>
    <%= v.input :duration %>
    <% if @model.merchant_video && @model.merchant_video.file.present? %>
      <div class="control-group">
        <div class="controls">
          <%= video_tag(@model.merchant_video.file, :controls => true, :autobuffer => true, :width => 400, :height => 240, :poster => @model.merchant_video.cover ) %>
        </div>
      </div>
    <%elsif @model.merchant_video && @model.merchant_video.cover.present? %>    
      <div class="control-group">
        <div class="controls">
          <%= image_tag(@model.merchant_video.cover) %>
        </div>
      </div>
    <% end %>
  <% end %>  
  <%= p.input :description, :as => :text%>
  <%= p.input :special, :as => :text%>

  <div class="form-actions">
    <%= p.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>

<%= content_for :scripts do -%>
  <script type="text/javascript">
    function getcity()
    { 
      $("form").attr("action", $("form").attr("action") + "?type=true" );
      $("form").submit();
    }
  </script>
<% end -%>