<%= simple_form_for [:admin, :broadcast, @model], html: { class: 'form-horizontal' } do |m| %>

  <%= m.association :broadcast, collection: Broadcast.all, prompt: t("helpers.links.select", :model_name => Broadcast.model_name.human) %>

  <%= m.input :name %>

  <%= m.fields_for :children_broadcast_cover, @model.children_broadcast_cover ||= @model.build_children_broadcast_cover do |img|  %>
    <%= img.input :file, :as => :file %>

    <% if @model.children_broadcast_cover && @model.children_broadcast_cover.file.present? %>
        <div class="control-group image">
          <div class="controls">
            <%= image_tag @model.children_broadcast_cover.file %>
          </div>
        </div>
    <% end %>
  <% end %>

  <%= m.fields_for :children_broadcast_audio, @model.children_broadcast_audio ||= @model.build_children_broadcast_audio do |o|  %>
    <%= o.input :file, :as => :file %>

    <% if @model.children_broadcast_audio && @model.children_broadcast_audio.file.present? %>
        <div class="control-group">
          <div class="controls">
            <%= audio_tag(@model.children_broadcast_audio.file, :controls => true) %>
          </div>
        </div>
    <% end %>

    <%= o.input :duration %>
  <% end %>

  <%= m.input :order %>

  <%= m.fields_for :children_broadcast_desc, @model.children_broadcast_desc ||= @model.build_children_broadcast_desc do |d| %>
    <%= d.input :body, :as => :text, input_html: { :class => "span-full"} %>
  <% end %>

  <div class="form-actions"><%= m.button :submit, :class => 'btn-primary' %></div>

<% end %>