<%= simple_form_for [:admin, @model], url: get_minority_slide_form_url(@model, params[:minority_id], @parent) do |p| %>
  <%= p.fields_for :minority_slide_icon, @model.minority_slide_icon ||= @model.build_minority_slide_icon do |picon|  %>  
    <%= picon.input :file, :as => :file %>
    <% if @model.minority_slide_icon && @model.minority_slide_icon.file.present? %>
        <div class="control-group image">
          <div class="controls">
            <%= image_tag @model.minority_slide_icon.file %>
          </div>
        </div>
    <% end %>
  <% end %>
  <%= p.fields_for :minority_slide_description, 
                   @model.minority_slide_description ||= @model.build_minority_slide_description do |pd|  %>  
    <%= pd.input :body, :as => :text, input_html: { :class => "span-full"} %>
  <% end %>
  <%= p.input :order %>
  <div class="form-actions">
    <%= p.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>