<%= simple_form_for [:admin, @model], html: { class: 'form-horizontal'} do |s| %>
  <%= s.input :name %>
  <%= s.fields_for :scenic_slug, @model.scenic_slug ||= @model.build_scenic_slug do |l|  %>  
    <%= l.input :slug, :input_html => { :class => "span-full" } %>
  <% end %>
  <%= s.input :is_free %>
  <%= s.input :menu_type %>
  <%= s.input :subtitle %>
  <%= s.association :map, collection: Map.all, 
                          prompt: t("helpers.links.select", 
                          :model_name => Map.model_name.human) %>

  <%= s.fields_for :scenic_icon,
                 @model.scenic_icon ||= @model.build_scenic_icon do |sicon| %>
  <%= sicon.input :file, as: :file %>
    <% if @model.scenic_icon && @model.scenic_icon.file.present? %>
      <div class="control-group image">
        <div class="controls">
          <%= image_tag @model.scenic_icon.file %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= s.fields_for :scenic_image,
                   @model.scenic_image ||= @model.build_scenic_image do |simage| %>
    <%= simage.input :file, as: :file %>
    <% if @model.scenic_image && @model.scenic_image.file.present? %>
    <div class="control-group image">
      <div class="controls">
        <%= image_tag @model.scenic_image.file %>
      </div>
    </div>
    <% end %>
  <% end %>

  <%= s.fields_for :scenic_impression, 
                   @model.scenic_impression ||=  @model.build_scenic_impression do |si| %>
    <%= si.input :file, as: :file %>
    <%= si.input :cover, as: :file %>
    <%= si.input :duration %>
    <%= si.input :order %>
    <% if @model.scenic_impression && @model.scenic_impression.file.present? %>
      <div class="control-group">
        <div class="controls">
          <% if @model.scenic_impression.present? && @model.scenic_impression.file.present? && @model.scenic_impression.cover.present? %>
            <%= video_tag(@model.scenic_impression.file.url, :controls => true, :autobuffer => true, :width => 400, :height => 240, :poster => @model.scenic_impression.cover.url) %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= s.fields_for :scenic_route,
                   @model.scenic_route ||= @model.build_scenic_route do |sr| %>
    <%= sr.input :file, as: :file %>
    <%= sr.input :cover, as: :file %>
    <%= sr.input :duration %>
    <%= sr.input :order %>
    <% if @model.scenic_route && @model.scenic_route.file.present? %>
      <div class="control-group">
        <div class="controls">
          <%= video_tag(@model.scenic_route.file, :controls => true, :autobuffer => true, :width => 400, :height => 240, :poster => @model.scenic_route.cover ) %>
        </div>
      </div>
    <% end %>

  <% end %>

  <%= s.fields_for :scenic_description,
                   @model.scenic_description ||= @model.build_scenic_description do |sd| %>
    <%= sd.input :body, as: :text %>
  <% end %>
  <div class="form-actions">
    <%= s.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>