<%- model_class = AudioListCategory -%>

<%= render 'base' %>

<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.audio_list_categories.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
          <th><%= model_class.human_attribute_name(:map) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:is_free) %></th>
          <th><%= model_class.human_attribute_name(:menu_type) %></th>
          <th><%= model_class.human_attribute_name(:audio_list_category_slug) %></th>
          <th><%= model_class.human_attribute_name(:audio_list_category_slug_cover) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </tr>
      </thead>
      <tbody>
      <% @models.each do |m| %>
          <tr>
            <td><%= check_box_tag "panel_video_ids[]", m.id, false, id: "panel_video_#{m.id}" %></td>
            <td><%= m.map.name %></td>
            <td><%= link_to(m.name, admin_audio_list_category_audio_lists_path(m)) %></td>
            <td><%= m.is_free %></td>
            <td><%= m.menu_type %></td>
            <td><%= m.audio_list_category_slug.slug unless m.audio_list_category_slug.blank? %></td>
            <td><%= image_tag m.audio_list_category_slug_cover.file, :size => "35x35" unless m.audio_list_category_slug_cover.blank? %></td>
            <td class="action">
              <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_audio_list_category_path(m), title: t('links.panel_videos.edit') %>
              <%= link_to raw("<i class=\"icon-trash\"></i>"), admin_audio_list_category_path(m), method: :delete, data: {confirm: t('links.commons.confirm')} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @models %></div>
  <%= paginate @models, :theme => "admin" %>
</div>