<%- model_class = InfoList -%>

<%= render "base" %>

<div class="box">

  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.info_lists.index') %></h5>
  </div>

  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:info_list_slug) %></th>
          <th><%= model_class.human_attribute_name(:map) %></th>
          <th><%= model_class.human_attribute_name(:infos_count) %></th>
          <th><%= model_class.human_attribute_name(:order) %></th>
          <th><%= model_class.human_attribute_name(:is_free) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </tr>
      </thead>

      </tbody>
        <% @info_lists.each do |e| %>
          <tr>
            <td><%= check_box_tag "info_list_ids[]", e.id, false, :id => "info_list_#{e.id}" %></td>
            <td><%= link_to e.name, admin_info_list_infos_path(e) %></td>
            <td><%= Keyword.get_slug(e.info_list_slugs) %></td>
            <td><%= e.map.name %></td>
            <td><%= e.infos_count %></td>
            <td><%= e.order %></td>
            <td><%= e.is_free %></td>
            <td class="action">
              <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_info_list_path(e), :title => t('links.info_lists.edit') %>
              <%= link_to raw("<i class=\"icon-trash\"></i>"), admin_info_list_path(e), :method => :delete, :data => { :confirm => t('links.commons.confirm') } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @info_lists %></div>
  <%= paginate @info_lists, :theme => "admin" %>
</div>