<%= simple_form_for [:admin, @model], html: { class: 'form-horizontal' } do |m| %>

  <%= m.association :map, collection: Map.all, prompt: t("helpers.links.select", :model_name => Map.model_name.human) %>

  <%= m.input :name %>
  <%= m.input :slug %>
  <%= m.input :is_free %>
  <%= m.input :menu_type %>
  
  <%= m.fields_for :broadcast_slug_cover, @model.broadcast_slug_cover ||= @model.build_broadcast_slug_cover do |img|  %>  
    <%= img.input :file, :as => :file %>
    <% if @model.broadcast_slug_cover && @model.broadcast_slug_cover.file.present? %>
        <div class="control-group image">
          <div class="controls">
            <%= image_tag @model.broadcast_slug_cover.file %>
          </div>
        </div>
    <% end %>
  <% end %>

  <div class="form-actions"><%= m.button :submit, :class => 'btn-primary' %></div>

<% end %>