<%- model_class = Broadcast -%>

<%= render 'base' %>

<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.broadcasts.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
          <th><%= model_class.human_attribute_name(:map) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:is_free) %></th>
          <th><%= model_class.human_attribute_name(:menu_type) %></th>
          <th><%= model_class.human_attribute_name(:broadcast_slug) %></th>
          <th><%= model_class.human_attribute_name(:broadcast_slug_cover) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </tr>
      </thead>
      <tbody>
      <% @models.each do |m| %>
          <tr>
            <td><%= check_box_tag "panel_video_ids[]", m.id, false, id: "panel_video_#{m.id}" %></td>
            <td><%= m.map.name %></td>
            <td><%= link_to(m.name, admin_broadcast_children_broadcasts_path(m)) %></td>
<<<<<<< HEAD
            <td><%= m.is_free %></td>
            <td><%= m.menu_type %></td>
            <td><%= m.broadcast_slug.slug unless m.broadcast_slug.blank? %></td>
=======
            <td><%= Keyword.get_slug(m.broadcast_slugs) %></td>
>>>>>>> 75dcf09d7cac0ab06dc05bf841465f540f2c70ce
            <td><%= image_tag m.broadcast_slug_cover.file, :size => "50x50" unless m.broadcast_slug_cover.blank? %></td>
            <td class="action">
              <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_broadcast_path(m), title: t('links.panel_videos.edit') %>
              <%= link_to raw("<i class=\"icon-trash\"></i>"), admin_broadcast_path(m), method: :delete, data: {confirm: t('links.commons.confirm')} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @models %></div>
  <%= paginate @models, :theme => "admin" %>
</div>