<%= render 'base' %>
<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.serialnumbers.export') %></h5>
  </div>
  <div class="box-content">
    <%= simple_form_for [:admin, @serial], 
                           :html => { class: 'form-horizontal' },
                            url: ex_search_admin_serialnumbers_path(format: :xls) do |f| %>

    <div class="control-group string required">
        <label class="string required control-label"><abbr title="required">*</abbr>
          <%= Map.model_name.human %>
        </label>
        <div class="controls">
        <%= f.select :map_id, 
                      Map.all.map{|m| [m.name, m.id]}, 
                      prompt: t("helpers.links.select") %>
        </div>
    </div>

    <div class="control-group string required">
        <label class="string required control-label"><abbr title="required">*</abbr>
          <%= MapSerialNumber.human_attribute_name(:type_cd) %>
        </label>
        <div class="controls">
        <%=   select :map_serial_number,
                     :type_cd, 
                      MapSerialNumber.types_for_select(:value),
                      prompt: t("helpers.links.select") %>
        </div>
    </div>

    <div class="control-group string required">
        <label class="string required control-label"><abbr title="required">*</abbr>
          <%= MapSerialNumber.human_attribute_name(:sum) %>
        </label>
        <div class="controls">
          <input class="string integer optional" id="sum" name="sum" step="1" type="text" maxlength="8" value="0">
        </div>
    </div>

    <div class="control-group string required">
        <div class="controls">
        <%= f.button :submit, :value => t("links.serialnumbers.export"), 
                     :onclick  => "return valid();",
                     :class => 'btn-success' %>
        </div>
    </div>
      <% end -%>
  </div>
</div>

<%= content_for :scripts do -%>
<script type="text/javascript">
  $(document).ready(function() {
    $('input[name="date"]').daterangepicker({
      ranges: {
        'Today': ['today', 'today']},
      format: 'yyyy-MM-dd'
    });
  });

  function valid(){
    var result = false;
    if ($("#map_serial_number_map_id").find('option:selected').val()=="")
      alert("请选择地图！");
    else if ($("#map_serial_number_type_cd").val() == "")
      alert("请选择类型！");
    else if (!(/(^[0-9]*[1-9][0-9]*$)/.test($(sum).val())))
      alert("请输入正确的数值！");
    else result = true;
    return result;
  }
</script>
<% end -%>