<%- model_class = FirstKnown -%>

<%= render 'base' %>

<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.audio_list_categories.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
          <th><%= model_class.human_attribute_name(:map) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:first_known_slug) %></th>
          <th><%= model_class.human_attribute_name(:first_known_slug_cover) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </tr>
      </thead>
      <tbody>
      <% @models.each do |m| %>
          <tr>
            <td><%= check_box_tag "first_known_ids[]", m.id, false, id: "first_known_#{m.id}" %></td>
            <td><%= m.map.name %></td>
            <td><%= link_to(m.name, admin_first_known_first_known_lists_path(m)) %></td>
            <td><%= Keyword.get_slug(m.first_known_slugs) %></td>
            <td><%= image_tag m.first_known_slug_cover.file, :size => "35x35" unless m.first_known_slug_cover.blank? %></td>
            <td class="action">
              <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_first_known_path(m), title: t('links.panel_videos.edit') %>
              <%= link_to raw("<i class=\"icon-trash\"></i>"), admin_first_known_path(m), method: :delete, data: {confirm: t('links.commons.confirm')} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @models %></div>
  <%= paginate @models, :theme => "admin" %>
</div>