<%- model_class = RecommendDetailed -%>
<div class="box" %>
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.recommend_detaileds.audiolist') %>
      <%= link_to t('links.recommend_detaileds.newaudio'), 
                    admin_recommend_record_detailed_audio_new_path(
                      params[:recommend_id],
                      params[:record_id],
                      params[:id]) %>
    </h5>
  </div>
  <div class="box-content">
  <table class="table table-bordered table-striped with-check">
  <thead>
    <tr>
      <th>
        <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
      </th>
      <th><%= model_class.human_attribute_name(:audio_file) %></th>
      <th><%= model_class.human_attribute_name(:audio_file_type) %></th>
      <th><%= model_class.human_attribute_name(:audio_file_size) %></th>
      <th><%= model_class.human_attribute_name(:order) %></th>
      <th class="action"><%= t('links.commons.action') %></th>
  </thead>
  <% if !@audios.blank? %>
  <% @audios.each do |v| %>
    <tbody>
      <tr>
        <td><%= check_box_tag "province_ids[]", v.id, false, id: "province_#{v.id}" %></td>
        <td><%= v.file %></td>
        <td><%= v.file_type %></td>
        <td><%= v.file_size %></td>       
        <td><%= v.order %></td>        
        <td class="action">
          <%= link_to raw("<i class=\"icon-edit\"></i>"), 
              admin_recommend_record_detailed_audio_edit_path(params[:recommend_id], params[:record_id], params[:id], v.id) %>
          <%= link_to raw("<i class=\"icon-trash\"></i>"), 
              admin_recommend_record_detailed_audio_path(params[:recommend_id], params[:record_id], params[:id], v.id), 
              method: :delete, 
              data: { confirm: t('links.commons.confirm')} %>
        </td>
      </tr>
  <% end %>
  <% end %>
  </tbody>
</table>    
</div>
</div>