<%- model_class = Image -%>
<%= render 'base' %>
<div class="box" %>
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.recommend_detaileds.index') %>
      <%= link_to t('links.recommend_detaileds.newimage'), 
                    admin_recommend_record_detailed_new_images_path(
                      params[:recommend_id],
                      params[:record_id],
                      params[:detailed_id],
                      params[:id]) %>
    </h5>
  </div>
  <div class="box-content">
  <table class="table table-bordered table-striped with-check">
  <thead>
    <tr>
      <th>
        <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
      </th>
      <th><%= model_class.human_attribute_name(:file) %></th>
      <th><%= model_class.human_attribute_name(:order) %></th>
      <th class="action"><%= t('links.commons.action') %></th>
  </thead>
  <% if !@images.blank? %>
  <% @images.each do |i| %>
    <tbody>
      <tr>
        <td><%= check_box_tag "province_ids[]", i.id, false, id: "province_#{i.id}" %></td>
        <td><%= i.file %></td>
        <td><%= i.order %></td>
        <td class="action">
          <%= link_to raw("<i class=\"icon-edit\"></i>"), 
              admin_recommend_record_detailed_edit_images_path(
                params[:recommend_id], 
                params[:record_id], 
                params[:detailed_id], 
                params[:id], 
                i.id) %>
          <%= link_to raw("<i class=\"icon-trash\"></i>"), 
              admin_recommend_record_detailed_photos_path(
                params[:recommend_id], 
                params[:record_id], 
                params[:detailed_id],
                params[:id], 
                i.id), 
              method: :delete, 
              data: { confirm: t('links.commons.confirm')} %>
        </td>
      </tr>
  <% end %>
  <% end %>
  </tbody>
</table>    
</div>
</div>