<%- model_class = FirstKnownListItem -%>

<%= render 'base' %>

<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5><%= t('links.audio_list_items.index') %></h5>
  </div>
  <div class="box-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
          <th><%= model_class.human_attribute_name(:first_known_list) %></th>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:first_known_list_item_icon) %></th>
          <th><%= model_class.human_attribute_name(:order) %></th>
          <th><%= model_class.human_attribute_name(:description) %></th>
          <th class="action"><%= t('links.commons.action') %></th>
        </tr>
      </thead>
      <tbody>
      <% @models.each do |m| %>
        <tr>
          <td><%= check_box_tag "children_broadcast_ids[]", m.id, false, id: "children_broadcast_#{m.id}" %></td>
          <td><%= m.first_known_list.title_cn %></td>
          <td><%= m.title %></td>
          <td><%= image_tag m.first_known_list_item_icon.file, :size => "35x35" unless m.first_known_list_item_icon.blank? %></td>
          <td><%= m.order %></td>
          <td><%= m.description.length > 20 ? (m.description[0...20] + "...") : m.description %></td>

          <td class="action">
            <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_admin_first_known_first_known_list_first_known_list_item_path(params[:first_known_id], params[:first_known_list_id], m.id), title: t('links.audio_list_items.edit') %>
            <%= link_to raw("<i class=\"icon-trash\"></i>"), admin_first_known_first_known_list_first_known_list_item_path(params[:first_known_id], params[:first_known_list_id], m.id), method: :delete, data: {confirm: t('links.commons.confirm')} %>
          </td>
         </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @models %></div>
  <%= paginate @models, :theme => "admin" %>
</div>